@{
    ViewBag.Title = "Home Page";
}

<div @*class="jumbotron"*@>
    <h1> Welcome to New Vision Information Technology</h1>

    <img align="middle" src="~/img/slides/3.jpg" /><br />

    @*<p class="lead">Welcome to New Vision Information Technology.</p>*@
    <p>&nbsp;&nbsp; <a href="https://nvit.com.bd/about-us/" class="btn btn-primary btn-lg">< Learn more &raquo;</a></p>
</div>

